<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Crud hechito</title>
</head>
<body>
    <div class="row mb-4">
        <h1>Listado de Productos</h1>
    </div>
    <div class="row mb-3">
        <table class="table table-bordered" id="categorias">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>imagen_prod</th>
                    <th>cantidad_prod</th>
                    <th>Precio</th>
                    <th>Categoria</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
        {% for ve in productos%}
        <tr><td>{{ve.idProducto}}</td>
            <td>{{ve.nombre_prod}}</td>

            <td>{{ve.imagen_prod}}</td>

            <td>{{ve.cantidad_prod}}</td>
            <td>{{ve.precio_prod}}</td>
            <td>{{ve.categoria}}</td>
            <td>{{ve.descripcion_prod}}</td></tr>
        {% endfor %}
    </table>
    </div>

</body>
</html>