<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud hechito</title>
</head>
<body>
    <div class="row">
        <h1>Listado de Productitos</h1>
    </div>
    <div class="row">
    <table border="1">
        <tr><td>Id</td><td>Nombre</td><td>imagen_prod</td>
            <td>cantidad_prod</td><td>Precio</td><td>Categoria</td>
            <td>Descripcion</td></tr>
            
        {% for ve in productos%}
        <tr><td>{{ve.idProducto}}</td><td>{{ve.nombre_prod}}</td>
            <td>{{ve.imagen_prod}}</td>
            <td>{{ve.cantidad_prod}}</td>
            <td>{{ve.precio_prod}}</td><td>{{ve.categoria}}</td>
            <td>{{ve.descripcion_prod}}</td></tr>
        {% endfor %}
    </table>
    </div>
    
</body>
</html>