<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href={% static 'core/css/index.css' %} rel="stylesheet" type="text/css">
    <link rel="icon" href={% static "core/img/logo.png"%}sizes="64x64">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400;700;800;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/fef38ef5aa.js" crossorigin="anonymous"></script>
    <title>TuJardin</title>
</head>
<body>
    <div class="navMenu">
        <a class="logo" href="">Tu<span class="colorJardin">Jardín</span></a>
        <div class="menu">
            <ul class="fullMenu" style="align-items: center;">
                <li><a class="linkMenu" href={% url 'index' %}>Inicio</a></li>
                <li><a class="linkMenu" href={% url 'nosotros' %}  >Nosotros</a></li>
                <li><a class="linkMenu" href={%url 'productos' %}>Productos</a></li>
                <li><a class="linkMenu" href={%url 'contacto' %}>Contactos</a></li>
                <li><a class="linkMenu" href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li><a class="linkMenu" href={%url 'usuario' %}><i class="fa-solid fa-user"></i></a></li>
                <li><a class="linkMenu" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li>{% for  auth in backends.associated  %}
                        {% if auth.provider == 'facebook'  %}
                            <img src="{{ auth.extra_data.picture.data.url }}" alt="" width="50" height="50">
                        {% endif %}
                    {% endfor %}
                </li>

            </ul>
            <ul class="responsiveMenu">
                <li><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li><a href={%url 'usuario' %}><i class="fa-solid fa-user"></i></a></li>
                <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="nav-item dropdown">
                    <a id="toggleMenu" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="fa-solid fa-bars"></i></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="./index.html">Inicio</a></li>
                        <li><a class="dropdown-item" href="./nosotros.html">Nosotros</a></li>
                        <li><a class="dropdown-item" href="./Productos.html">Productos</a></li>
                        <li><a class="dropdown-item" href="./contacto.html">Contactos</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>    
</body>
</html>